n8n/workflows/daily-keyword-news-summary.workflow.json
{
  "name": "Daily Keyword News Summary",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "dd6a9ec4-9d58-4ce8-bc3e-99381c6f60c5",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        180,
        120
      ]
    },
    {
      "parameters": {},
      "id": "f9c1047e-f7d4-4b84-af97-8cb878fc3321",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        180,
        320
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "daily-keyword-summary/request",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "4b42e278-7592-47f1-8129-29010509250f",
      "name": "Keyword Summary Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        180,
        520
      ],
      "webhookId": "daily-keyword-summary-request"
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "/home/raimu/N8N/AutoArticleFor-n8n/config/keywords.json",
        "options": {
          "dataPropertyName": "keywordConfigFile"
        }
      },
      "id": "2f6dd34c-50df-47a1-9c39-b6c7d4d72539",
      "name": "Read Keyword Configuration",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        400,
        360
      ]
    },
    {
      "parameters": {
        "operation": "fromJson",
        "binaryPropertyName": "keywordConfigFile",
        "destinationKey": "keywordConfig",
        "options": {
          "encoding": "utf8",
          "stripBOM": true,
          "keepSource": "json"
        }
      },
      "id": "fe99a1c0-4b5e-43b5-bd27-02c42d693b52",
      "name": "Parse Keyword Configuration",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        640,
        360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $json.body ?? $json;\nconst keywordInput = input.keywords ?? input.keyword ?? [];\nconst keywords = Array.isArray(keywordInput)\n  ? keywordInput\n  : String(keywordInput)\n      .split(/,|\\n/)\n      .map((keyword) => keyword.trim())\n      .filter(Boolean);\n\nconst normalizedKeywords = keywords;\nif (!normalizedKeywords.length) {\n  throw new Error('No keywords were configured for this run.');\n}\nconst lookbackHours = Math.max(1, Number(input.lookbackHours || 24));\nconst lookbackDays = Math.max(1, Math.ceil(lookbackHours / 24));\nconst requestedMaxArticles = Number(input.maxArticles);\nconst maxArticles = Number.isFinite(requestedMaxArticles) && requestedMaxArticles > 0\n  ? Math.floor(requestedMaxArticles)\n  : null;\nconst locale = input.locale || 'ja-JP';\nconst language = input.language || 'ja';\nconst country = input.country || 'JP';\nconst outputLanguage = input.outputLanguage || 'ja';\nconst since = new Date(Date.now() - lookbackHours * 60 * 60 * 1000).toISOString();\nconst until = new Date().toISOString();\nconst feedRequests = [];\n\nfor (const keyword of normalizedKeywords) {\n  const googleQuery = `${keyword} when:${lookbackDays}d`;\n  const ceid = `${country}:${language}`;\n  const googleNewsRssUrl = `https://news.google.com/rss/search?q=${encodeURIComponent(googleQuery)}&hl=${encodeURIComponent(locale)}&gl=${encodeURIComponent(country)}&ceid=${encodeURIComponent(ceid)}`;\n  const hatenaBookmarkRssUrl = `https://b.hatena.ne.jp/search/text?q=${encodeURIComponent(keyword)}&sort=recent&mode=rss`;\n\n  feedRequests.push({\n    sourceName: 'Google News',\n    keyword,\n    query: googleQuery,\n    rssUrl: googleNewsRssUrl\n  });\n\n  feedRequests.push({\n    sourceName: 'Hatena Bookmark',\n    keyword,\n    query: keyword,\n    rssUrl: hatenaBookmarkRssUrl\n  });\n}\n\nreturn feedRequests.map((feed) => ({\n  json: {\n    ...feed,\n    keywords: normalizedKeywords,\n    since,\n    until,\n    lookbackHours,\n    maxArticles,\n    locale,\n    language,\n    country,\n    outputLanguage,\n    requestSource: input.source || 'daily-summary-request'\n  }\n}));\n"
      },
      "id": "6c03a5b7-2d8d-4f5c-9b11-199aaf1cbf3f",
      "name": "Build Search RSS URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        360
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.rssUrl }}"
      },
      "id": "a163661f-771a-4ef0-b772-688e6a421eee",
      "name": "Read RSS Search Results",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        1360,
        360
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rssItems = $input.all();\nlet queryItems = [];\n\ntry {\n  queryItems = $('Build Search RSS URLs').all().map((item) => item.json);\n} catch (error) {\n  queryItems = [];\n}\n\nconst firstQuery = queryItems[0] || {};\nconst since = firstQuery.since ? new Date(firstQuery.since) : new Date(Date.now() - 24 * 60 * 60 * 1000);\nconst keywords = firstQuery.keywords || [];\nconst requestedMaxArticles = Number(firstQuery.maxArticles);\nconst maxArticles = Number.isFinite(requestedMaxArticles) && requestedMaxArticles > 0\n  ? Math.floor(requestedMaxArticles)\n  : null;\n\nfunction cleanText(value) {\n  return String(value || '')\n    .replace(/<!\\[CDATA\\[/g, '')\n    .replace(/\\]\\]>/g, '')\n    .replace(/<[^>]*>/g, ' ')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nconst seen = new Set();\nconst articles = [];\n\nfor (const item of rssItems) {\n  const article = item.json || {};\n  const rawDate = article.isoDate || article.pubDate || article.date || article.published || '';\n  const publishedAt = rawDate ? new Date(rawDate) : null;\n\n  if (publishedAt && Number.isFinite(publishedAt.getTime()) && publishedAt < since) {\n    continue;\n  }\n\n  const title = cleanText(article.title);\n  const url = article.link || article.guid || '';\n  const excerpt = cleanText(article.contentSnippet || article.content || article.description || article.summary);\n  const key = url || title.toLowerCase();\n\n  if ((!title && !url) || seen.has(key)) {\n    continue;\n  }\n\n  seen.add(key);\n  articles.push({\n    title,\n    url,\n    publishedAt: publishedAt && Number.isFinite(publishedAt.getTime()) ? publishedAt.toISOString() : rawDate,\n    source: cleanText(article.creator || article.author || article['dc:creator'] || ''),\n    excerpt: excerpt.slice(0, 700)\n  });\n}\n\narticles.sort((a, b) => String(b.publishedAt || '').localeCompare(String(a.publishedAt || '')));\n\nreturn [\n  {\n    json: {\n      generatedAt: new Date().toISOString(),\n      period: {\n        since: since.toISOString(),\n        until: firstQuery.until || new Date().toISOString()\n      },\n      keywords,\n      queryCount: queryItems.length,\n      searchSources: Array.from(new Set(queryItems.map((item) => item.sourceName).filter(Boolean))),\n      articleCount: articles.length,\n      articles: maxArticles ? articles.slice(0, maxArticles) : articles,\n      outputLanguage: firstQuery.outputLanguage || 'ja',\n      requestSource: firstQuery.requestSource || 'rss'\n    }\n  }\n];\n"
      },
      "id": "8cb4d75a-72bd-4c72-9af9-39b28de0f9da",
      "name": "Normalize and Deduplicate Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const data = $json;\nconst articles = Array.isArray(data.articles) ? data.articles : [];\nconst keywords = Array.isArray(data.keywords) ? data.keywords : [];\nconst dateLabel = new Date(data.generatedAt || Date.now()).toISOString().slice(0, 10);\n\nconst sourceLines = articles.map((article, index) => {\n  const parts = [\n    `${index + 1}. ${article.title || '(no title)'}`,\n    article.publishedAt ? `Published: ${article.publishedAt}` : null,\n    article.source ? `Source: ${article.source}` : null,\n    article.url ? `URL: ${article.url}` : null,\n    article.excerpt ? `Excerpt: ${article.excerpt}` : null\n  ].filter(Boolean);\n\n  return parts.join('\\n');\n});\n\nconst topItems = articles.slice(0, 10).map((article, index) => {\n  const title = article.title || '(no title)';\n  const link = article.url ? ` - ${article.url}` : '';\n  const excerpt = article.excerpt ? `\\n  ${article.excerpt}` : '';\n  return `${index + 1}. ${title}${link}${excerpt}`;\n});\n\nconst digestMarkdown = [\n  `# Daily Keyword News Summary - ${dateLabel}`,\n  '',\n  `Keywords: ${keywords.join(', ') || '(not available)'}`,\n  `Period: ${data.period?.since || ''} to ${data.period?.until || ''}`,\n  `Articles found: ${data.articleCount}`,\n  '',\n  '## Top Items',\n  topItems.length ? topItems.join('\\n\\n') : 'No recent RSS items were found for the configured keywords.',\n  '',\n  '## Source URLs',\n  articles.map((article) => `- ${article.title || article.url}: ${article.url || '(no URL)'}`).join('\\n') || '- No URLs'\n].join('\\n');\n\nconst llmPrompt = [\n  `You are preparing a daily news and web-content digest in ${data.outputLanguage || 'ja'}.`,\n  `Summarize only the sources listed below. Do not invent facts or add uncited claims.`,\n  `Target keywords: ${keywords.join(', ') || '(not available)'}`,\n  `Time window: ${data.period?.since || ''} to ${data.period?.until || ''}`,\n  'Return the digest with these sections: 1) Executive summary, 2) Important developments by keyword, 3) Source-by-source notes, 4) Items to monitor tomorrow.',\n  'For each important claim, mention the source title or URL.',\n  '',\n  'Sources:',\n  sourceLines.join('\\n\\n') || 'No source items were found.'\n].join('\\n');\n\nreturn [\n  {\n    json: {\n      ...data,\n      digestMarkdown,\n      llmPrompt,\n      nextAutomationSteps: [\n        'Connect llmPrompt to an OpenAI, Anthropic, Gemini, or HTTP Request node for semantic summarization.',\n        'Send digestMarkdown or the LLM output to Gmail, Slack, Notion, Google Docs, or WordPress.',\n        'Add a duplicate-history store if the same articles should not appear across multiple days.'\n      ]\n    }\n  }\n];\n"
      },
      "id": "bc3c09bb-e89f-419c-bd09-0754a8899369",
      "name": "Build Daily Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const data = $json;\nconst knownTerms = [\n  { term: 'ホロライブ', aliases: ['ホロライブ', 'hololive'], category: 'agency/group' },\n  { term: 'COVER', aliases: ['COVER', 'カバー株式会社', 'カバー'], category: 'company' },\n  { term: 'ANYCOLOR', aliases: ['ANYCOLOR', 'ANYCOLOR株式会社'], category: 'company' },\n  { term: 'NIJISANJI EN', aliases: ['NIJISANJI EN', 'にじさんじEN'], category: 'agency/group' },\n  { term: 'ぶいすぽっ!', aliases: ['ぶいすぽっ!', 'ぶいすぽ', 'VSPO!'], category: 'agency/group' },\n  { term: 'Brave group', aliases: ['Brave group', 'BraveGroup'], category: 'company' },\n  { term: 'あおぎり高校', aliases: ['あおぎり高校'], category: 'agency/group' },\n  { term: 'ななしいんく', aliases: ['ななしいんく', '774inc'], category: 'agency/group' },\n  { term: 'Neo-Porte', aliases: ['Neo-Porte', 'ネオポルテ'], category: 'agency/group' },\n  { term: 'VShojo', aliases: ['VShojo'], category: 'agency/group' },\n  { term: 'Phase Connect', aliases: ['Phase Connect'], category: 'agency/group' },\n  { term: '.LIVE', aliases: ['.LIVE', 'どっとライブ'], category: 'agency/group' },\n  { term: 'のりプロ', aliases: ['のりプロ'], category: 'agency/group' },\n  { term: 'RIOT MUSIC', aliases: ['RIOT MUSIC'], category: 'agency/group' },\n  { term: 'Re:AcT', aliases: ['Re:AcT', 'ReAct'], category: 'agency/group' },\n  { term: 'VOMS', aliases: ['VOMS'], category: 'agency/group' },\n  { term: '深層組', aliases: ['深層組'], category: 'agency/group' },\n  { term: 'Varium', aliases: ['Varium', 'ぶいありうむっ！'], category: 'agency/group' },\n  { term: 'ホロスターズ', aliases: ['ホロスターズ', 'HOLOSTARS'], category: 'agency/group' },\n  { term: 'ChroNoiR', aliases: ['ChroNoiR', 'クロノワール'], category: 'unit' },\n  { term: 'ROF-MAO', aliases: ['ROF-MAO', 'ろふまお'], category: 'unit' },\n  { term: 'Live2D', aliases: ['Live2D'], category: 'technology' }\n];\nconst stopTerms = new Set(['https', 'http', 'www', 'com', 'ニュース', 'まとめ', '記事', '動画', '配信', '発表', '開催', '公開', 'YouTube']);\n\nfunction jstDateParts(value) {\n  const date = value ? new Date(value) : new Date();\n  const formatter = new Intl.DateTimeFormat('en-US', {\n    timeZone: 'Asia/Tokyo', year: 'numeric', month: '2-digit', day: '2-digit'\n  });\n  const parts = Object.fromEntries(formatter.formatToParts(date).map((part) => [part.type, part.value]));\n  return { date: `${parts.year}-${parts.month}-${parts.day}` };\n}\n\nfunction slugifyKeywords(keywords) {\n  return (keywords || [])\n    .map((keyword) => String(keyword).trim())\n    .filter(Boolean)\n    .join('-')\n    .toLowerCase()\n    .replace(/[\\\\/:*?\"<>|`$&;(){}[\\]\\n\\r\\t]+/g, '-')\n    .replace(/\\s+/g, '-')\n    .replace(/-+/g, '-')\n    .replace(/^-|-$/g, '')\n    .slice(0, 90) || 'daily-summary';\n}\n\nfunction frontMatter(dateLabel) {\n  const keywords = Array.isArray(data.keywords) ? data.keywords : [];\n  const sources = Array.isArray(data.searchSources) ? data.searchSources : [];\n  return [\n    '---',\n    'title: \"Daily Keyword News Summary\"',\n    `date: \"${dateLabel}\"`,\n    `generatedAt: \"${data.generatedAt || new Date().toISOString()}\"`,\n    'keywords:',\n    ...(keywords.length ? keywords.map((keyword) => `  - \"${String(keyword).replace(/\"/g, '\\\\\"')}\"`) : ['  - \"\"']),\n    'sources:',\n    ...(sources.length ? sources.map((source) => `  - \"${String(source).replace(/\"/g, '\\\\\"')}\"`) : ['  - \"\"']),\n    `articleCount: ${Number(data.articleCount || 0)}`,\n    '---',\n    ''\n  ].join('\\n');\n}\n\nfunction articleListMarkdown(articles) {\n  if (!articles.length) {\n    return 'No articles were captured for this run.';\n  }\n  return articles.map((article, index) => [\n    `### ${index + 1}. ${article.title || '(no title)'}`,\n    '',\n    article.url ? `- URL: ${article.url}` : null,\n    article.publishedAt ? `- Published: ${article.publishedAt}` : null,\n    article.source ? `- Source: ${article.source}` : null,\n    '',\n    article.excerpt || null\n  ].filter((line) => line !== null).join('\\n')).join('\\n\\n');\n}\n\nfunction buildDigestMarkdown(dateLabel) {\n  const articles = Array.isArray(data.articles) ? data.articles : [];\n  const period = data.period || {};\n  return [\n    frontMatter(dateLabel),\n    data.digestMarkdown || `# Daily Keyword News Summary - ${dateLabel}`,\n    '',\n    '## Run Metadata',\n    '',\n    `- Generated at: ${data.generatedAt || ''}`,\n    `- Period start: ${period.since || ''}`,\n    `- Period end: ${period.until || ''}`,\n    `- Article count: ${Number(data.articleCount || articles.length)}`,\n    `- Search sources: ${(data.searchSources || []).join(', ') || '(not available)'}`,\n    '',\n    '## Captured Articles',\n    '',\n    articleListMarkdown(articles),\n    '',\n    '## LLM Prompt',\n    '',\n    '<details>',\n    '<summary>Prompt used for semantic summarization</summary>',\n    '',\n    '```text',\n    data.llmPrompt || '',\n    '```',\n    '',\n    '</details>',\n    ''\n  ].join('\\n');\n}\n\nfunction escapeRegExp(value) {\n  return String(value).replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n}\n\nfunction collectSourceReferences(articles, term) {\n  const refs = [];\n  const lowerTerm = String(term).toLowerCase();\n  for (const article of articles) {\n    const haystack = `${article.title || ''}\\n${article.excerpt || ''}\\n${article.source || ''}`.toLowerCase();\n    if (haystack.includes(lowerTerm)) {\n      refs.push(article.title || article.url || '(untitled source)');\n    }\n    if (refs.length >= 3) break;\n  }\n  return refs;\n}\n\nfunction addCandidate(candidates, currentKeywords, term, category, reason, sourceRefs = []) {\n  const normalized = String(term || '').trim();\n  if (!normalized || normalized.length < 2) return;\n  const lower = normalized.toLowerCase();\n  if (stopTerms.has(normalized) || currentKeywords.has(lower)) return;\n  const existing = candidates.get(lower);\n  if (existing) {\n    existing.count += 1;\n    existing.reasons.add(reason);\n    sourceRefs.forEach((source) => existing.sources.add(source));\n    return;\n  }\n  candidates.set(lower, { term: normalized, category, count: 1, reasons: new Set([reason]), sources: new Set(sourceRefs) });\n}\n\nfunction extractSourceTerms(text) {\n  const terms = new Set();\n  for (const match of text.matchAll(/#([A-Za-z0-9_\\-\\u3040-\\u30ff\\u3400-\\u9fff]{2,40})/g)) terms.add(match[1]);\n  for (const match of text.matchAll(/\\b[A-Z][A-Za-z0-9&.:'!-]{2,30}\\b/g)) terms.add(match[0]);\n  for (const match of text.matchAll(/[ァ-ヴー]{3,20}/g)) terms.add(match[0]);\n  for (const match of text.matchAll(/[一-龠々〆ヵヶ]{2,12}(?:事務所|プロ|高校|会社|株式会社|グループ|運営|所属)/g)) terms.add(match[0]);\n  return [...terms];\n}\n\nfunction extractKeywordCandidates(markdown) {\n  const articles = Array.isArray(data.articles) ? data.articles : [];\n  const currentKeywords = new Set((data.keywords || []).map((keyword) => String(keyword).toLowerCase()));\n  const candidates = new Map();\n\n  for (const known of knownTerms) {\n    let count = 0;\n    for (const alias of known.aliases || [known.term]) {\n      const matches = markdown.match(new RegExp(escapeRegExp(alias), 'gi'));\n      count += matches ? matches.length : 0;\n    }\n    if (count > 0) {\n      addCandidate(candidates, currentKeywords, known.term, known.category, `known VTuber-related term appeared ${count} time(s)`, collectSourceReferences(articles, known.term));\n      const candidate = candidates.get(known.term.toLowerCase());\n      if (candidate) candidate.count = count;\n    }\n  }\n\n  const sourceText = articles.map((article) => `${article.title || ''}\\n${article.excerpt || ''}\\n${article.source || ''}`).join('\\n');\n  for (const term of extractSourceTerms(sourceText)) {\n    if (term.length > 30 || /^\\d+$/.test(term)) continue;\n    addCandidate(candidates, currentKeywords, term, 'source-derived', 'appeared in captured article text', collectSourceReferences(articles, term));\n  }\n\n  return [...candidates.values()].map((candidate) => ({\n    term: candidate.term,\n    category: candidate.category,\n    count: candidate.count,\n    reasons: [...candidate.reasons],\n    sources: [...candidate.sources]\n  })).sort((a, b) => b.count - a.count || a.term.localeCompare(b.term, 'ja')).slice(0, 40);\n}\n\n\n\nfunction buildAiSummaryInstructionMarkdown(dateLabel, digestRelativePath, digestMarkdown) {\n  const articles = Array.isArray(data.articles) ? data.articles : [];\n  const currentKeywords = Array.isArray(data.keywords) ? data.keywords : [];\n  const period = data.period || {};\n  const sourceContext = articles.map((article, index) => ({\n    index: index + 1,\n    title: article.title || '',\n    url: article.url || '',\n    publishedAt: article.publishedAt || '',\n    source: article.source || '',\n    excerpt: article.excerpt || ''\n  }));\n\n  return [\n    '---',\n    'title: \"AI Article Summary Instructions\"',\n    `date: \"${dateLabel}\"`,\n    `sourceDigest: \"${digestRelativePath}\"`,\n    '---',\n    '',\n    `# AI Article Summary Instructions - ${dateLabel}`,\n    '',\n    'このファイルは、AI APIを自動実行せず、別途AIに取得記事の要約を依頼するための指示書です。',\n    '以下の「依頼文」から「入力Digest」までをAIに渡してください。',\n    '',\n    '## 依頼文',\n    '',\n    'あなたはニュース記事のリサーチャー兼編集者です。',\n    '以下の入力Digestと取得記事一覧だけを根拠に、指定キーワードに関する日次要約を日本語で作成してください。',\n    '推測や外部知識で事実を補わず、重要な主張には記事タイトルまたはURLを添えてください。',\n    '',\n    '### 対象キーワード',\n    '',\n    currentKeywords.map((keyword) => `- ${keyword}`).join('\\n') || '- (none)',\n    '',\n    '### 対象期間',\n    '',\n    `- 開始: ${period.since || ''}`,\n    `- 終了: ${period.until || ''}`,\n    `- 取得記事数: ${Number(data.articleCount || articles.length)}`,\n    '',\n    '### 要約方針',\n    '',\n    '- 重要度の高いニュース、発表、イベント、コラボ、商品、配信、企業動向を優先する',\n    '- 同じ話題の記事が複数ある場合は統合して要約する',\n    '- ゲーム攻略記事など、対象キーワードと関係が薄い記事は「ノイズ候補」として分ける',\n    '- 不確かな内容は断定しない',\n    '- 重要な根拠には記事タイトルまたはURLを付ける',\n    '',\n    '### 保存先',\n    '',\n    `作成した要約は、このプロジェクト内の content/article-summaries/${dateLabel}.md に .md ファイルとして作成してください。`,\n    'ファイル名にキーワードは含めず、対象日の日付のみを使用してください。',\n    'ファイル編集ができないAIに渡す場合は、保存するMarkdown本文をそのまま出力してください。',\n    '',\n    '### 出力形式',\n    '',\n    '以下のMarkdown形式で出力してください。',\n    '',\n    '````markdown',\n    '# Daily Article Summary',\n    '',\n    '## Executive Summary',\n    '',\n    '全体の重要ポイントを3-5行で要約。',\n    '',\n    '## Important Topics',\n    '',\n    '| Topic | Summary | Sources |',\n    '| --- | --- | --- |',\n    '| 話題名 | 何が起きたか、なぜ重要か | 記事タイトルまたはURL |',\n    '',\n    '## Source-by-source Notes',\n    '',\n    '- 取得記事一覧にある各記事を、1記事につき1項目で記載する。記事タイトルを同じURLへのMarkdownリンクにし、1-2文の要約、関連キーワード、重要度、根拠URLを含める。記事を省略しない。',\n    '',\n    '## Noise or Low-relevance Items',\n    '',\n    '- 対象キーワードとの関連が薄い記事と、その理由。',\n    '',\n    '## Items to Monitor Next',\n    '',\n    '- 明日以降も追うべき話題、イベント、企業名、ユニット名など。',\n    '````',\n    '',\n    '### 注意事項',\n    '',\n    '- 入力に含まれない情報を追加しない',\n    '- 情報源がYouTubeやSNS由来の場合は、その点が分かるように書く',\n    '- 同一内容の記事はまとめ、重複して長くしない',\n    '- 出力は日本語で作成する',\n    '',\n    '## 取得記事一覧（構造化データ）',\n    '',\n    '```json',\n    JSON.stringify(sourceContext, null, 2),\n    '```',\n    '',\n    '## 入力Digest',\n    '',\n    '```markdown',\n    digestMarkdown,\n    '```',\n    ''\n  ].join('\\n');\n}\n\nfunction buildAiExtractionInstructionMarkdown(dateLabel, digestRelativePath, candidateRelativePath, digestMarkdown, candidates) {\n  const currentKeywords = Array.isArray(data.keywords) ? data.keywords : [];\n  const candidateContext = candidates.length\n    ? candidates.map((candidate) => ({\n        term: candidate.term,\n        category: candidate.category,\n        count: candidate.count,\n        reasons: candidate.reasons,\n        sources: candidate.sources.slice(0, 3)\n      }))\n    : [];\n\n  return [\n    '---',\n    'title: \"AI Keyword Extraction Instructions\"',\n    `date: \"${dateLabel}\"`,\n    `sourceDigest: \"${digestRelativePath}\"`,\n    `ruleBasedCandidates: \"${candidateRelativePath}\"`,\n    '---',\n    '',\n    `# AI Keyword Extraction Instructions - ${dateLabel}`,\n    '',\n    'このファイルは、AI APIを自動実行せず、別途AIにキーワード抽出を依頼するための指示書です。',\n    '以下の「依頼文」から「入力Digest」までをAIに渡してください。',\n    '',\n    '## 依頼文',\n    '',\n    'あなたはVTuber業界ニュースのリサーチ担当です。',\n    '以下の日次Digestから、今後の検索キーワードとして使う価値がある候補を意味ベースで抽出してください。',\n    '',\n    '### 現在の検索キーワード',\n    '',\n    currentKeywords.map((keyword) => `- ${keyword}`).join('\\n') || '- (none)',\n    '',\n    '### 重視する候補',\n    '',\n    '- VTuber事務所、グループ、運営会社',\n    '- VTuber本人名、ユニット名',\n    '- イベント名、ライブ名、コラボ名',\n    '- 商品名、グッズ名、メディア企画名',\n    '- 今後も継続して追う価値がある話題',\n    '',\n    '### 除外する候補',\n    '',\n    '- shorts、karaoke、WEB、PLUS などの一般語または媒体都合の語',\n    '- URL断片、ID、意味の薄い英数字',\n    '- 1日だけの挨拶タグや汎用タグ',\n    '- 文脈上VTuberと無関係なゲーム攻略語',\n    '- 既存キーワードとほぼ同じ語',\n    '',\n    '### 保存先',\n    '',\n    `抽出結果は、このプロジェクト内の content/ai-keyword-candidates/${dateLabel}.md に .md ファイルとして作成してください。`,\n    'ファイル名にキーワードは含めず、対象日の日付のみを使用してください。',\n    'ファイル編集ができないAIに渡す場合は、保存するMarkdown本文をそのまま出力してください。',\n    '',\n    '### 出力形式',\n    '',\n    '以下のMarkdown形式で出力してください。',\n    '',\n    '````markdown',\n    '# AI Keyword Candidates',\n    '',\n    '## Summary',\n    '',\n    '抽出結果の短い要約。',\n    '',\n    '## Candidates',\n    '',\n    '| Candidate | Category | Confidence | Add | Reason | Evidence |',\n    '| --- | --- | ---: | --- | --- | --- |',\n    '| 候補語 | vtuber_agency / vtuber_group / company / talent / event / collaboration / product_or_goods / platform_or_media / topic / other | 0.00-1.00 | yes/no | 追加候補にした理由 | 根拠となる記事タイトルや本文断片 |',\n    '',\n    '## Suggested Default Keywords',\n    '',\n    '```js',\n    'keywords: [',\n    '  \"追加推奨キーワード\"',\n    ']',\n    '```',\n    '',\n    '## Rejected Terms',\n    '',\n    '- 除外した語: 除外理由',\n    '````',\n    '',\n    '### 判断基準',\n    '',\n    '- 今後の検索精度を上げる語を優先する',\n    '- 事務所、企業、グループは特に優先する',\n    '- Add は毎日固定監視する価値が高い場合だけ yes にする',\n    '- 根拠はDigest内のタイトル、抜粋、URLから示す',\n    '',\n    '## ルールベース候補（参考）',\n    '',\n    '以下はワークフローが機械的に抽出した候補です。ノイズが含まれるため、参考情報として扱ってください。',\n    '',\n    '```json',\n    JSON.stringify(candidateContext, null, 2),\n    '```',\n    '',\n    '## 入力Digest',\n    '',\n    '```markdown',\n    digestMarkdown,\n    '```',\n    ''\n  ].join('\\n');\n}\n\nfunction buildCandidateMarkdown(dateLabel, digestRelativePath, candidates) {\n  const currentKeywords = Array.isArray(data.keywords) ? data.keywords : [];\n  const suggested = [...new Set([\n    ...currentKeywords,\n    ...candidates.filter((candidate) => candidate.category !== 'source-derived' || candidate.count >= 2).slice(0, 12).map((candidate) => candidate.term)\n  ])];\n  const rows = candidates.length\n    ? candidates.map((candidate) => {\n        const sources = candidate.sources.slice(0, 2).join('<br>') || '-';\n        return `| ${candidate.term} | ${candidate.category} | ${candidate.count} | ${candidate.reasons.join('<br>')} | ${sources} |`;\n      }).join('\\n')\n    : '| No candidates found | - | 0 | No source terms matched the extraction rules | - |';\n\n  return [\n    '---',\n    'title: \"Keyword Candidates\"',\n    `date: \"${dateLabel}\"`,\n    `sourceDigest: \"${digestRelativePath}\"`,\n    '---',\n    '',\n    `# Keyword Candidates - ${dateLabel}`,\n    '',\n    `Source digest: \\`${digestRelativePath}\\``,\n    '',\n    '## Current Keywords',\n    '',\n    currentKeywords.map((keyword) => `- ${keyword}`).join('\\n') || '- (none)',\n    '',\n    '## Extracted Candidates',\n    '',\n    '| Candidate | Category | Count | Reason | Example sources |',\n    '| --- | --- | ---: | --- | --- |',\n    rows,\n    '',\n    '## Suggested Keyword List',\n    '',\n    '```js',\n    `keywords: ${JSON.stringify(suggested, null, 2)}`,\n    '```',\n    '',\n    '## Notes',\n    '',\n    '- Candidates are extracted heuristically from the saved digest and captured article text.',\n    '- Review the list before adding terms to the production workflow.',\n    '- Agency and company terms are prioritized for VTuber monitoring.',\n    ''\n  ].join('\\n');\n}\n\nfunction buildAiTalentIndexInstructionMarkdown(dateLabel, structuredRecordsRelativePath) {\n  const articles = Array.isArray(data.articles) ? data.articles : [];\n  const context = articles.map((article, index) => ({\n    articleIndex: index + 1,\n    title: article.title || '',\n    url: article.url || '',\n    publishedAt: article.publishedAt || '',\n    source: article.source || '',\n    excerpt: article.excerpt || ''\n  }));\n  return [\n    '---',\n    'title: \"AI Talent Index Update Instructions\"',\n    `date: \"${dateLabel}\"`,\n    `sourceStructuredRecords: \"${structuredRecordsRelativePath}\"`,\n    '---',\n    '',\n    `# AI Talent Index Update Instructions - ${dateLabel}`,\n    '',\n    'この指示書は、n8nがタレント抽出やテーブル更新を自動で行わず、AIが根拠を確認して提案・更新を行うためのものです。',\n    '',\n    '## 入力',\n    '',\n    `- 構造化記事: \\`${structuredRecordsRelativePath}\\``,\n    '- 必要に応じて同日の Daily Digest と記事要約を参照する。',\n    '',\n    '## 作業',\n    '',\n    '1. 記事一覧を確認し、タレント本人と判断できる名前だけを抽出する。所属・別名・記事本文の根拠を確認できない推測は追加しない。',\n    '2. 記事はすべて articles として登録候補に含める。タレントとの関係は、同じ記事に複数人いれば全員を個別に article_talents へ関連付ける。',\n    '3. 新規タレントは status を pending、search_enabled を false にする。AIだけで approved や検索有効に変更しない。',\n    '4. 既存の approved、aliases_json、search_enabled は明確な更新根拠がない限り変更・削除しない。',\n    '5. 各 article_talents に、URLまたは記事タイトルを含む evidence_text、matched_fields、confidence、detection_method を付ける。',\n    '',\n    '## 保存先',\n    '',\n    `- レビュー用Markdown: content/talent-index-proposals/${dateLabel}.md`,\n    `- 適用用JSON: content/talent-index-proposals/${dateLabel}.json`,\n    '',\n    'JSONは以下の形にする。articles、talents、articleTalents は配列で、削除操作は含めない。',\n    '',\n    '```json',\n    JSON.stringify({ proposalVersion: 1, proposalDate: dateLabel, articles: [{ article_key: 'article-stable-id', url: 'https://...', title: '...', excerpt: '...', source: '...', published_at: 'ISO-8601', last_seen_at: 'ISO-8601' }], talents: [{ talent_id: 'talent-stable-id', display_name: '...', organization: '...', aliases_json: '[\"...\"]', status: 'pending', search_enabled: false, auto_discovered: false, last_seen_at: 'ISO-8601' }], articleTalents: [{ relation_key: 'article-talent-stable-id', article_key: 'article-stable-id', talent_id: 'talent-stable-id', matched_aliases_json: '[\"...\"]', matched_fields: 'title, excerpt', evidence_text: '記事タイトルまたはURL', confidence: 0.95, detection_method: 'ai_review', last_seen_at: 'ISO-8601' }] }, null, 2),\n    '```',\n    '',\n    '## 適用前チェック',\n    '',\n    '- article_talents の article_key と talent_id は、同じJSON内の articles と talents、または既存テーブルの行を参照する。',\n    '- URL、タイトル、本文抜粋にない人物名は追加しない。',\n    '- 低確信度の場合は talent と relation を提案せず、Markdownの保留項目に記載する。',\n    '- JSON作成後、専用の Apply Talent Index Proposal ワークフローに渡す。',\n    '',\n    '## 取得記事一覧',\n    '',\n    '```json',\n    JSON.stringify(context, null, 2),\n    '```',\n    ''\n  ].join('\\n');\n}\nfunction markdownBinary(markdown, fileName) {\n  return {\n    data: Buffer.from(markdown, 'utf8').toString('base64'),\n    mimeType: 'text/markdown',\n    fileExtension: 'md',\n    fileName\n  };\n}\n\nconst dateParts = jstDateParts(data.generatedAt);\nconst fileName = `${dateParts.date}.md`;\nconst defaultProjectRoot = '/home/raimu/N8N/AutoArticleFor-n8n';\nconst projectRoot = defaultProjectRoot.replace(/\\/$/, '');\nconst digestRelativePath = `content/daily-digests/${fileName}`;\nconst candidateRelativePath = `content/keyword-candidates/${fileName}`;\nconst instructionRelativePath = `content/ai-extraction-instructions/${fileName}`;\nconst summaryInstructionRelativePath = `content/ai-summary-instructions/${fileName}`;\nconst talentIndexInstructionRelativePath = `content/ai-talent-index-instructions/${fileName}`;\nconst structuredRecordsRelativePath = `content/structured-records/${dateParts.date}.jsonl`;\nconst digestPath = `${projectRoot}/${digestRelativePath}`;\nconst candidatePath = `${projectRoot}/${candidateRelativePath}`;\nconst instructionPath = `${projectRoot}/${instructionRelativePath}`;\nconst summaryInstructionPath = `${projectRoot}/${summaryInstructionRelativePath}`;\nconst talentIndexInstructionPath = `${projectRoot}/${talentIndexInstructionRelativePath}`;\nconst digestMarkdown = buildDigestMarkdown(dateParts.date);\nconst candidates = extractKeywordCandidates(digestMarkdown);\nconst candidateMarkdown = buildCandidateMarkdown(dateParts.date, digestRelativePath, candidates);\nconst instructionMarkdown = buildAiExtractionInstructionMarkdown(dateParts.date, digestRelativePath, candidateRelativePath, digestMarkdown, candidates);\nconst summaryInstructionMarkdown = buildAiSummaryInstructionMarkdown(dateParts.date, digestRelativePath, digestMarkdown);\nconst talentIndexInstructionMarkdown = buildAiTalentIndexInstructionMarkdown(dateParts.date, structuredRecordsRelativePath);\n\nreturn [\n  {\n    json: {\n      fileKind: 'daily-digest',\n      filePath: digestPath,\n      relativePath: digestRelativePath,\n      date: dateParts.date,\n      articleCount: Number(data.articleCount || 0),\n      candidateCount: candidates.length\n    },\n    binary: {\n      data: markdownBinary(digestMarkdown, fileName)\n    }\n  },\n  {\n    json: {\n      fileKind: 'keyword-candidates',\n      filePath: candidatePath,\n      relativePath: candidateRelativePath,\n      date: dateParts.date,\n      articleCount: Number(data.articleCount || 0),\n      candidateCount: candidates.length,\n      candidates: candidates.slice(0, 15).map((candidate) => ({ term: candidate.term, category: candidate.category, count: candidate.count }))\n    },\n    binary: {\n      data: markdownBinary(candidateMarkdown, fileName)\n    }\n  },\n  {\n    json: {\n      fileKind: 'ai-extraction-instructions',\n      filePath: instructionPath,\n      relativePath: instructionRelativePath,\n      date: dateParts.date,\n      articleCount: Number(data.articleCount || 0),\n      candidateCount: candidates.length,\n      sourceDigest: digestRelativePath,\n      sourceCandidates: candidateRelativePath\n    },\n    binary: {\n      data: markdownBinary(instructionMarkdown, fileName)\n    }\n  },\n  {\n    json: {\n      fileKind: 'ai-summary-instructions',\n      filePath: summaryInstructionPath,\n      relativePath: summaryInstructionRelativePath,\n      date: dateParts.date,\n      articleCount: Number(data.articleCount || 0),\n      sourceDigest: digestRelativePath\n    },\n    binary: {\n      data: markdownBinary(summaryInstructionMarkdown, fileName)\n    }\n  },\n  {\n    json: {\n      fileKind: 'ai-talent-index-instructions',\n      filePath: talentIndexInstructionPath,\n      relativePath: talentIndexInstructionRelativePath,\n      date: dateParts.date,\n      articleCount: Number(data.articleCount || 0),\n      sourceStructuredRecords: structuredRecordsRelativePath\n    },\n    binary: {\n      data: markdownBinary(talentIndexInstructionMarkdown, fileName)\n    }\n  }\n];\n"
      },
      "id": "dce1c6b9-d4d7-498a-8b8c-cfbcf2e917fb",
      "name": "Build Markdown Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        360
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.filePath }}",
        "dataPropertyName": "data",
        "options": {
          "append": false
        }
      },
      "id": "c4f0ec51-5668-4d46-b98f-2253f40f4b77",
      "name": "Write Markdown Files",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        2320,
        360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all().map((item) => item.json);\nconst digest = items.find((item) => item.fileKind === 'daily-digest');\nconst candidates = items.find((item) => item.fileKind === 'keyword-candidates');\nconst instructions = items.find((item) => item.fileKind === 'ai-extraction-instructions');\nconst summaryInstructions = items.find((item) => item.fileKind === 'ai-summary-instructions');\nconst talentIndexInstructions = items.find((item) => item.fileKind === 'ai-talent-index-instructions');\nconst promotion = items.find((item) => Array.isArray(item.autoAddedKeywords));\n\nreturn [\n  {\n    json: {\n      saved: true,\n      date: digest?.date || candidates?.date || instructions?.date || summaryInstructions?.date || talentIndexInstructions?.date || new Date().toISOString().slice(0, 10),\n      digestPath: digest?.relativePath || digest?.fileName || '',\n      candidatePath: candidates?.relativePath || candidates?.fileName || '',\n      instructionPath: instructions?.relativePath || instructions?.fileName || '',\n      summaryInstructionPath: summaryInstructions?.relativePath || summaryInstructions?.fileName || '',\n      talentIndexInstructionPath: talentIndexInstructions?.relativePath || talentIndexInstructions?.fileName || '',\n      articleCount: digest?.articleCount ?? candidates?.articleCount ?? instructions?.articleCount ?? summaryInstructions?.articleCount ?? 0,\n      candidateCount: candidates?.candidateCount ?? instructions?.candidateCount ?? 0,\n      candidates: candidates?.candidates || [],\n      autoAddedKeywords: promotion?.autoAddedKeywords || [],\n      autoKeywordCount: promotion?.autoKeywordCount ?? 0,\n      writtenFiles: items.map((item) => item.relativePath || item.fileName).filter(Boolean)\n    }\n  }\n];"
      },
      "id": "63e1417b-fb59-4c9b-a3ea-c59b3c2a65d7",
      "name": "Summarize Saved Markdown Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const data = $json;\nconst articles = Array.isArray(data.articles) ? data.articles : [];\nconst keywords = Array.isArray(data.keywords) ? data.keywords : [];\nconst newline = String.fromCharCode(10);\n\nfunction jstDate(value) {\n  const date = value ? new Date(value) : new Date();\n  const formatter = new Intl.DateTimeFormat('en-US', {\n    timeZone: 'Asia/Tokyo', year: 'numeric', month: '2-digit', day: '2-digit'\n  });\n  const parts = Object.fromEntries(formatter.formatToParts(date).map((part) => [part.type, part.value]));\n  return parts.year + '-' + parts.month + '-' + parts.day;\n}\n\nconst dateLabel = jstDate(data.generatedAt);\nconst generatedAt = data.generatedAt || new Date().toISOString();\nconst runRecord = {\n  schemaVersion: 1,\n  recordType: 'run',\n  runDate: dateLabel,\n  generatedAt,\n  period: data.period || {},\n  keywords,\n  searchSources: Array.isArray(data.searchSources) ? data.searchSources : [],\n  articleCount: Number(data.articleCount || articles.length),\n  capturedArticleCount: articles.length,\n  requestSource: data.requestSource || 'rss'\n};\nconst articleRecords = articles.map((article, index) => ({\n  schemaVersion: 1,\n  recordType: 'article',\n  runDate: dateLabel,\n  generatedAt,\n  keywords,\n  articleIndex: index + 1,\n  article: {\n    title: article.title || '',\n    url: article.url || '',\n    publishedAt: article.publishedAt || '',\n    source: article.source || '',\n    excerpt: article.excerpt || ''\n  }\n}));\nconst jsonl = [runRecord, ...articleRecords].map((record) => JSON.stringify(record)).join(newline) + newline;\nconst relativePath = 'content/structured-records/' + dateLabel + '.jsonl';\nconst projectRoot = '/home/raimu/N8N/AutoArticleFor-n8n';\nconst fileName = dateLabel + '.jsonl';\n\nreturn [\n  {\n    json: {\n      fileKind: 'structured-records',\n      filePath: projectRoot + '/' + relativePath,\n      relativePath,\n      date: dateLabel,\n      articleCount: runRecord.articleCount,\n      capturedArticleCount: runRecord.capturedArticleCount\n    },\n    binary: {\n      data: {\n        data: Buffer.from(jsonl, 'utf8').toString('base64'),\n        mimeType: 'application/x-ndjson',\n        fileExtension: 'jsonl',\n        fileName\n      }\n    }\n  }\n];"
      },
      "id": "bf0d28db-3a85-4d59-a107-93faa99c16d3",
      "name": "Build Structured Records",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        600
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.filePath }}",
        "dataPropertyName": "data",
        "options": {
          "append": false
        }
      },
      "id": "5c4ee870-e767-4f75-a4bb-15e237aa148f",
      "name": "Write Structured Records",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        2320,
        600
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const writtenItems = $input.all();\nconst data = $('Build Daily Digest').first().json;\nconst articles = Array.isArray(data.articles) ? data.articles : [];\nconst config = data.keywordConfig || {};\nconst baseKeywords = Array.isArray(config.manualKeywords)\n  ? config.manualKeywords.map((term) => String(term || '').trim()).filter(Boolean)\n  : [];\nconst staticData = $getWorkflowStaticData('global');\nconst existing = Array.isArray(staticData.autoKeywords) ? staticData.autoKeywords : [];\nconst maxAutoKeywords = Math.max(0, Math.floor(Number(config.maxAutoKeywords ?? 30) || 0));\nconst configuredExclusions = Array.isArray(config.excludedKeywords)\n  ? config.excludedKeywords.map((term) => String(term || '').trim().toLowerCase()).filter(Boolean)\n  : [];\nconst blockedTerms = new Set([\n  'vtuber', 'にじさんじ', '事務所', 'グッズ', 'ライブ', 'オーディション',\n  'appmedia', 't.co', 'mshale', 'shorts', 'karaoke', 'pr', 'live2d',\n  ...configuredExclusions\n]);\nconst knownEntities = [\n  'ホロライブ', 'COVER', 'ANYCOLOR', 'NIJISANJI EN', 'ぶいすぽっ!',\n  'Brave group', 'あおぎり高校', 'ななしいんく', 'Neo-Porte', 'VShojo',\n  'Phase Connect', '.LIVE', 'のりプロ', 'RIOT MUSIC', 'Re:AcT', 'VOMS',\n  '深層組', 'Varium', 'ホロスターズ', 'ChroNoiR', 'ROF-MAO'\n];\n\nfunction normalize(value) {\n  return String(value || '').trim().toLowerCase();\n}\n\nfunction isSafeTerm(value) {\n  const term = String(value || '').trim();\n  const normalized = normalize(term);\n  return term.length >= 2\n    && term.length <= 30\n    && !blockedTerms.has(normalized)\n    && !/^\\d+$/.test(term)\n    && !/^https?:/i.test(term)\n    && !/[|/\\\\]/.test(term);\n}\n\nconst currentKeywords = [];\nconst currentSet = new Set();\nfor (const value of [...baseKeywords, ...existing]) {\n  const term = String(value || '').trim();\n  const key = normalize(term);\n  if (term && !currentSet.has(key)) {\n    currentSet.add(key);\n    currentKeywords.push(term);\n  }\n}\n\nconst candidates = new Map();\nfunction addCandidate(value, category, reason, title) {\n  const term = String(value || '').trim();\n  const key = normalize(term);\n  if (!isSafeTerm(term) || currentSet.has(key)) return;\n  const current = candidates.get(key);\n  if (current) {\n    current.sources.add(title);\n    return;\n  }\n  candidates.set(key, { term, category, reason, sources: new Set([title]) });\n}\n\nfor (const article of articles) {\n  const title = String(article.title || '');\n  const text = `${title}\\n${article.excerpt || ''}`;\n\n  for (const term of knownEntities) {\n    if (text.toLowerCase().includes(term.toLowerCase())) {\n      addCandidate(term, 'known-entity', 'known agency, company, or unit appears in a captured article', title);\n    }\n  }\n\n  const agencyPattern = /VTuber事務所[「『]?([ぁ-んァ-ヴー一-龠A-Za-z0-9!._-]{2,24}?)(?=初|が|の|、|。|「|『|3期|大型|募集|$)/g;\n  for (const match of text.matchAll(agencyPattern)) {\n    addCandidate(match[1], 'agency', 'explicit VTuber agency name in a captured article', title);\n  }\n\n  const unitPattern = /【にじさんじ】([ぁ-んァ-ヴー一-龠A-Za-z0-9!._-]{2,24}?)(?=\\d+(?:周年|th)|[ 　]*(?:周年|グッズ|ライブ))/g;\n  for (const match of text.matchAll(unitPattern)) {\n    addCandidate(match[1], 'unit', 'explicit にじさんじ unit name in a goods, anniversary, or live article', title);\n  }\n}\n\nconst additions = [];\nfor (const candidate of candidates.values()) {\n  if (currentKeywords.length >= maxAutoKeywords + baseKeywords.length) break;\n  currentSet.add(normalize(candidate.term));\n  currentKeywords.push(candidate.term);\n  additions.push({\n    term: candidate.term,\n    category: candidate.category,\n    reason: candidate.reason,\n    sources: [...candidate.sources].slice(0, 3)\n  });\n}\n\nstaticData.autoKeywords = currentKeywords\n  .filter((term) => !baseKeywords.some((base) => normalize(base) === normalize(term)))\n  .filter((term) => !blockedTerms.has(normalize(term)))\n  .slice(0, maxAutoKeywords);\nif (additions.length) {\n  const history = Array.isArray(staticData.autoKeywordPromotionHistory)\n    ? staticData.autoKeywordPromotionHistory\n    : [];\n  staticData.autoKeywordPromotionHistory = [...history, ...additions.map((candidate) => ({\n    ...candidate,\n    promotedAt: new Date().toISOString()\n  }))].slice(-100);\n}\nstaticData.lastKeywordPromotion = {\n  checkedAt: new Date().toISOString(),\n  addedKeywords: additions.map((candidate) => candidate.term),\n  autoKeywordCount: staticData.autoKeywords.length\n};\n\nreturn writtenItems.map((item) => ({\n  json: {\n    ...item.json,\n    autoAddedKeywords: additions.map((candidate) => candidate.term),\n    autoKeywordCount: staticData.autoKeywords.length\n  },\n  binary: item.binary\n}));"
      },
      "id": "b1e3b5cf-ccfb-4e2d-9a24-aa626397511d",
      "name": "Promote Extracted Keywords",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const config = $('Parse Keyword Configuration').first().json.keywordConfig ?? {};\nconst rows = $('Load Talent Registry').all().map((item) => item.json ?? {});\nconst terms = (value) => { const seen = new Set(); return (Array.isArray(value) ? value : String(value ?? '').split(/,|\\n/)).reduce((all, value) => { const term = String(value || '').trim(); const key = term.toLocaleLowerCase('ja-JP'); if (term && !seen.has(key)) { seen.add(key); all.push(term); } return all; }, []); };\nconst positive = (value, fallback) => Number.isFinite(Number(value)) && Number(value) > 0 ? Number(value) : fallback;\nconst optionalPositive = (value) => Number.isFinite(Number(value)) && Number(value) > 0 ? Math.floor(Number(value)) : null;\nconst enabled = (value) => value === true || value === 1 || String(value).toLowerCase() === 'true';\nconst manualKeywords = terms(config.manualKeywords); if (!manualKeywords.length) throw new Error('config/keywords.json must contain at least one manualKeywords entry.');\nconst excludedKeywords = terms(config.excludedKeywords); const excluded = new Set(excludedKeywords.map((term) => term.toLocaleLowerCase('ja-JP')));\nconst staticData = $getWorkflowStaticData('global');\nconst autoKeywords = terms(staticData.autoKeywords).filter((term) => !excluded.has(term.toLocaleLowerCase('ja-JP')));\nconst talentSearchKeywords = terms(rows.filter((row) => String(row.status || '').toLowerCase() === 'approved' && enabled(row.search_enabled)).map((row) => row.display_name)).filter((term) => !excluded.has(term.toLocaleLowerCase('ja-JP')));\nlet webhook = null; try { webhook = $('Keyword Summary Webhook').first().json; } catch (error) {}\nconst input = webhook && Object.keys(webhook).length ? (webhook.body ?? webhook) : {}; const explicit = Object.hasOwn(input, 'keywords') || Object.hasOwn(input, 'keyword'); const requested = terms(input.keywords ?? input.keyword ?? []);\nreturn [{ json: { keywords: explicit && requested.length ? requested : terms([...manualKeywords, ...autoKeywords, ...talentSearchKeywords]), keywordConfig: { schemaVersion: Number(config.schemaVersion || 1), manualKeywords, excludedKeywords, maxAutoKeywords: Math.max(0, Math.floor(Number(config.maxAutoKeywords ?? 30) || 0)) }, talentSearchKeywords, keywordConfigPath: 'config/keywords.json', lookbackHours: positive(input.lookbackHours ?? input.lookback_hours, 24), maxArticles: optionalPositive(input.maxArticles ?? input.max_articles), locale: input.locale ?? 'ja-JP', language: input.language ?? 'ja', country: input.country ?? 'JP', outputLanguage: input.outputLanguage ?? input.output_language ?? 'ja', source: webhook ? 'webhook-request' : 'default-daily-request' } }];"
      },
      "id": "ccf6e73d-dcfe-42ed-92a9-d89a94ab521a",
      "name": "Build Keyword Summary Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        360
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "value": "talents",
          "mode": "name"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": []
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1600,
        120
      ],
      "id": "a191a98a-4b4b-4ff5-9cbc-c2f98d84400d",
      "name": "Load Talent Registry",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "keyword-candidate/add",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "05f480ec-c5af-41f0-ae26-bd01d8701bcb",
      "name": "Keyword Candidate Add Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        180,
        760
      ],
      "webhookId": "keyword-candidate-add"
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "/home/raimu/N8N/AutoArticleFor-n8n/config/keywords.json",
        "options": {
          "dataPropertyName": "keywordConfigFile"
        }
      },
      "id": "24f39cd1-7216-4b35-9bc5-7c20a04a0c0d",
      "name": "Read Candidate Keyword Configuration",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        420,
        760
      ]
    },
    {
      "parameters": {
        "operation": "fromJson",
        "binaryPropertyName": "keywordConfigFile",
        "destinationKey": "keywordConfig",
        "options": {
          "encoding": "utf8",
          "stripBOM": true,
          "keepSource": "json"
        }
      },
      "id": "b1e6fefb-f5ef-4344-9c4f-f7d56b3d2ae6",
      "name": "Parse Candidate Keyword Configuration",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        660,
        760
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const webhook = $('Keyword Candidate Add Webhook').first().json ?? {};\nconst body = webhook.body ?? webhook;\nconst keyword = String(body.keyword ?? '').trim();\nconst candidateDate = String(body.candidateDate ?? '').trim();\nconst source = String(body.source ?? '').trim();\nconst config = $input.first().json.keywordConfig ?? {};\nconst terms = (value) => { const seen = new Set(); return (Array.isArray(value) ? value : String(value ?? '').split(/,|\\n/)).reduce((all, value) => { const term = String(value || '').trim(); const key = normalize(term); if (term && !seen.has(key)) { seen.add(key); all.push(term); } return all; }, []); };\nconst normalize = (value) => String(value || '').trim().replaceAll('！', '!').toLocaleLowerCase('ja-JP');\nconst manualKeywords = terms(config.manualKeywords);\nconst excludedKeywords = new Set(terms(config.excludedKeywords).map(normalize));\nconst maxAutoKeywords = Math.max(0, Math.floor(Number(config.maxAutoKeywords ?? 30) || 0));\nconst staticData = $getWorkflowStaticData('global');\nconst autoKeywords = terms(staticData.autoKeywords);\nconst current = [...manualKeywords, ...autoKeywords];\nconst key = normalize(keyword);\nconst respond = (status, reason, added) => [{ json: { status, keyword, reason, added, autoKeywordCount: autoKeywords.length } }];\n\nif (source !== 'talent-dashboard') return respond('rejected', 'This webhook only accepts requests from the local Talent Index dashboard.', false);\nif (!/^\\d{4}-\\d{2}-\\d{2}$/.test(candidateDate)) return respond('rejected', 'candidateDate must use YYYY-MM-DD.', false);\nif (keyword.length < 2 || keyword.length > 30 || /[|/\\\\]/.test(keyword) || /^https?:/i.test(keyword)) return respond('rejected', 'The keyword format is not allowed.', false);\nif (excludedKeywords.has(key)) return respond('rejected', 'The keyword is excluded by config/keywords.json.', false);\nif (current.some((term) => normalize(term) === key)) return respond('already_added', 'The keyword is already configured.', false);\nif (autoKeywords.length >= maxAutoKeywords) return respond('rejected', `The automatic keyword limit (${maxAutoKeywords}) has been reached.`, false);\n\nautoKeywords.push(keyword);\nstaticData.autoKeywords = autoKeywords;\nconst history = Array.isArray(staticData.manualKeywordAdditions) ? staticData.manualKeywordAdditions : [];\nconst addition = { term: keyword, candidateDate, source, addedAt: new Date().toISOString() };\nstaticData.manualKeywordAdditions = [...history, addition].slice(-100);\nstaticData.lastManualKeywordAddition = addition;\nreturn [{ json: { status: 'added', keyword, reason: 'Saved to workflow static data.', added: true, autoKeywordCount: autoKeywords.length } }];"
      },
      "id": "435136b3-8d79-43f1-aa4e-b2ad4e6318a5",
      "name": "Add Dashboard Keyword Candidate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        760
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "keyword-management/update",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "a976ce00-d946-40e9-af28-3bf71fd97cd3",
      "name": "Keyword Management Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        180,
        980
      ],
      "webhookId": "keyword-management-update"
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "/home/raimu/N8N/AutoArticleFor-n8n/config/keywords.json",
        "options": {
          "dataPropertyName": "keywordConfigFile"
        }
      },
      "id": "c25994a0-3ad0-445d-ae6d-1ac88bd8fa2f",
      "name": "Read Keyword Management Configuration",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        420,
        980
      ]
    },
    {
      "parameters": {
        "operation": "fromJson",
        "binaryPropertyName": "keywordConfigFile",
        "destinationKey": "keywordConfig",
        "options": {
          "encoding": "utf8",
          "stripBOM": true,
          "keepSource": "json"
        }
      },
      "id": "a8caa49b-43ed-4765-9b58-347212e133c8",
      "name": "Parse Keyword Management Configuration",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        660,
        980
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const webhook = $('Keyword Management Webhook').first().json ?? {};\nconst body = webhook.body ?? webhook;\nconst operation = String(body.operation ?? '').trim().toLowerCase();\nlet keyword = String(body.keyword ?? '').trim();\nconst previousKeyword = String(body.previousKeyword ?? '').trim();\nconst source = String(body.source ?? '').trim();\nconst config = $input.first().json.keywordConfig ?? {};\nconst normalize = (value) => String(value || '').trim().replaceAll('！', '!').toLocaleLowerCase('ja-JP');\nconst terms = (value) => { const seen = new Set(); return (Array.isArray(value) ? value : String(value ?? '').split(/,|\\n/)).reduce((all, value) => { const term = String(value || '').trim(); const key = normalize(term); if (term && !seen.has(key)) { seen.add(key); all.push(term); } return all; }, []); };\nconst manualKeywords = terms(config.manualKeywords);\nconst excludedKeywords = new Set(terms(config.excludedKeywords).map(normalize));\nconst maxAutoKeywords = Math.max(0, Math.floor(Number(config.maxAutoKeywords ?? 30) || 0));\nconst staticData = $getWorkflowStaticData('global');\nconst autoKeywords = terms(staticData.autoKeywords);\nconst respond = (status, reason, value = keyword || previousKeyword, changed = false) => [{ json: { status, keyword: value, reason, changed, autoKeywordCount: autoKeywords.length } }];\nconst validKeyword = (value) => value.length >= 2 && value.length <= 30 && !/[|/\\\\]/.test(value) && !/^https?:/i.test(value);\n\nif (source !== 'talent-dashboard') return respond('rejected', 'This webhook only accepts requests from the local Talent Index dashboard.');\nif (!['add', 'edit', 'remove'].includes(operation)) return respond('rejected', 'operation must be add, edit, or remove.');\nif (operation !== 'remove' && !validKeyword(keyword)) return respond('rejected', 'The keyword format is not allowed.');\nif ((operation === 'edit' || operation === 'remove') && !previousKeyword) return respond('rejected', 'previousKeyword is required.');\nif (operation !== 'remove' && excludedKeywords.has(normalize(keyword))) return respond('rejected', 'The keyword is excluded by config/keywords.json.');\nif (operation !== 'remove' && manualKeywords.some((term) => normalize(term) === normalize(keyword))) return respond('already_added', 'The keyword is already configured manually.');\n\nlet status = 'rejected';\nlet reason = '';\nlet changed = false;\nif (operation === 'add') {\n  if (autoKeywords.some((term) => normalize(term) === normalize(keyword))) return respond('already_added', 'The keyword is already configured.');\n  if (autoKeywords.length >= maxAutoKeywords) return respond('rejected', `The automatic keyword limit (${maxAutoKeywords}) has been reached.`);\n  autoKeywords.push(keyword);\n  status = 'added'; reason = 'Saved to workflow static data.'; changed = true;\n} else {\n  const index = autoKeywords.findIndex((term) => normalize(term) === normalize(previousKeyword));\n  if (index < 0) return respond(operation === 'remove' ? 'already_removed' : 'rejected', operation === 'remove' ? 'The keyword was already removed.' : 'The keyword no longer exists.');\n  if (operation === 'remove') {\n    const removed = autoKeywords.splice(index, 1)[0];\n    keyword = removed;\n    status = 'removed'; reason = 'Removed from workflow static data.'; changed = true;\n  } else if (normalize(autoKeywords[index]) === normalize(keyword)) {\n    return respond('unchanged', 'The keyword did not change.', autoKeywords[index]);\n  } else if (autoKeywords.some((term, position) => position !== index && normalize(term) === normalize(keyword))) {\n    return respond('rejected', 'The keyword already exists.');\n  } else {\n    autoKeywords[index] = keyword;\n    status = 'updated'; reason = 'Updated in workflow static data.'; changed = true;\n  }\n}\n\nif (changed) {\n  staticData.autoKeywords = autoKeywords;\n  const history = Array.isArray(staticData.dashboardKeywordManagement) ? staticData.dashboardKeywordManagement : [];\n  staticData.dashboardKeywordManagement = [...history, { operation, keyword, previousKeyword, changedAt: new Date().toISOString() }].slice(-100);\n  staticData.lastDashboardKeywordManagement = staticData.dashboardKeywordManagement.at(-1);\n}\nreturn respond(status, reason, keyword, changed);"
      },
      "id": "5d7ff09d-f5d4-46b9-9c4d-a91f455b40d0",
      "name": "Manage Dashboard Keyword",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        980
      ]
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Read Keyword Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Keyword Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Summary Webhook": {
      "main": [
        [
          {
            "node": "Read Keyword Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Search RSS URLs": {
      "main": [
        [
          {
            "node": "Read RSS Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read RSS Search Results": {
      "main": [
        [
          {
            "node": "Normalize and Deduplicate Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize and Deduplicate Articles": {
      "main": [
        [
          {
            "node": "Build Daily Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Daily Digest": {
      "main": [
        [
          {
            "node": "Build Markdown Files",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Structured Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Markdown Files": {
      "main": [
        [
          {
            "node": "Write Markdown Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Markdown Files": {
      "main": [
        [
          {
            "node": "Promote Extracted Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Saved Markdown Files": {
      "main": []
    },
    "Build Structured Records": {
      "main": [
        [
          {
            "node": "Write Structured Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Structured Records": {
      "main": []
    },
    "Promote Extracted Keywords": {
      "main": [
        [
          {
            "node": "Summarize Saved Markdown Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Keyword Configuration": {
      "main": [
        [
          {
            "node": "Parse Keyword Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Keyword Configuration": {
      "main": [
        [
          {
            "node": "Load Talent Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Keyword Summary Request": {
      "main": [
        [
          {
            "node": "Build Search RSS URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Talent Registry": {
      "main": [
        [
          {
            "node": "Build Keyword Summary Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Candidate Add Webhook": {
      "main": [
        [
          {
            "node": "Read Candidate Keyword Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Candidate Keyword Configuration": {
      "main": [
        [
          {
            "node": "Parse Candidate Keyword Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Candidate Keyword Configuration": {
      "main": [
        [
          {
            "node": "Add Dashboard Keyword Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Management Webhook": {
      "main": [
        [
          {
            "node": "Read Keyword Management Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Keyword Management Configuration": {
      "main": [
        [
          {
            "node": "Parse Keyword Management Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Keyword Management Configuration": {
      "main": [
        [
          {
            "node": "Manage Dashboard Keyword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Tokyo"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-07-14T00:00:00Z",
  "versionId": "f5cd0af8-98af-4bc2-a922-fc7252fc2fe9"
}
